function Ship.new 0
    push constant 2
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push pointer 0
    return
function Ship.move 0
    push argument 0
    pop pointer 0
    push argument 1
    push constant 97
    eq
    push this 0
    push constant 40
    sub
    push constant 20
    gt
    and
    not
    if-goto Ship_1
    push this 0
    push constant 20
    sub
    pop this 0
    push constant 0
    return
    goto Ship_0
label Ship_1
label Ship_0
    push argument 1
    push constant 100
    eq
    push this 0
    push constant 40
    add
    push constant 460
    lt
    and
    not
    if-goto Ship_3
    push this 0
    push constant 20
    add
    pop this 0
    goto Ship_2
label Ship_3
label Ship_2
    push constant 0
    return
function Ship.draw 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push constant 10
    add
    push this 1
    push constant 10
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Ship.erase 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 0
    push this 1
    push this 0
    push constant 10
    add
    push this 1
    push constant 10
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return