function Shot.new 0
    push constant 3
    call Memory.alloc 1
    pop pointer 0
    push argument 0
    pop this 0
    push argument 1
    pop this 1
    push constant 1
    neg
    pop this 2
    push pointer 0
    return
function Shot.moveUp 0
    push argument 0
    pop pointer 0
    push this 1
    push constant 0
    gt
    not
    if-goto Shot_1
    push this 1
    push constant 4
    sub
    pop this 1
    goto Shot_0
label Shot_1
    push constant 0
    pop this 2
label Shot_0
    push constant 0
    return
function Shot.draw 0
    push argument 0
    pop pointer 0
    push constant 1
    neg
    call Screen.setColor 1
    pop temp 0
    push this 0
    push constant 1
    sub
    push this 1
    push constant 3
    sub
    push this 0
    push constant 1
    add
    push this 1
    push constant 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return
function Shot.erase 0
    push argument 0
    pop pointer 0
    push constant 0
    call Screen.setColor 1
    pop temp 0
    push this 0
    push constant 1
    sub
    push this 1
    push constant 3
    sub
    push this 0
    push constant 1
    add
    push this 1
    push constant 3
    add
    call Screen.drawRectangle 4
    pop temp 0
    push constant 0
    return